@{
    ViewData["Title"] = "Home Page";
}
@*<h1 class="display-4">Welcome in my web application</h1>
    <p>This application will help you in work with tourist shop </a></p>

    <img src="/imagine/IndexScrin.jpg" alt="Index distributor page">*@
<div class="text-center">
    <div class="a">
        <img src="/imagine/ListDistributorScrin.jpg"
             alt="List.img" class="MainPhoto">
        <p class="mainPageLeftText">Відображення всієї інформаціз з таблички</p>
    </div>

    <div class="a">
        <p class="mainPageRightText">Можливість внесення нових даних у таблицю</p>
        <img src="~/imagine/CreateDistributorScrin.jpg"
             alt="Create.img" class="MainPhoto">
    </div>

    <div class="a">
        <img src="C:\Users\ursul\OneDrive\Робочий стіл\TouristShopWebApplication\WebAppShop V6\WebAppShop\wwwroot\imagine\IndexScrin.jpg"
             alt="Edit.img" class="MainPhoto">
        <p class="mainPageLeftText">Редагування записів з Базі даних</p>
    </div>

    <div class="a">
        <p class="mainPageRightText">Видалення непотрібних даних з бази даних</p>
        <img src="C:\Users\ursul\OneDrive\Робочий стіл\TouristShopWebApplication\WebAppShop V6\WebAppShop\wwwroot\imagine\IndexScrin.jpg"
             alt="Delete.img" class="MainPhoto">
    </div>
</div>
