@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in my web application</h1>
    <p>This application will help you in work with tourist shop </a></p>

    @*<img src="/imagine/IndexScrin.jpg" alt="Index distributor page">*@
</div>
